@import '@/styles/vars.scss';

.wrapper {
    cursor: pointer;

    .field {
        border-bottom: 1px solid $color-black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 10px;

        &.active {
            opacity: 0.6;
        }

        .title {
            font-size: 20px;
            margin-right: 20px;
        }

        svg {
            width: auto;
            height: 16px;
            padding: 0;
        }

        .bottomArrow {
            transform: rotate(90deg);
            height: 20px;
        }
    }

    .desc {
        opacity: 0.6;
        padding: 42px 10px 0;
    }
}
