.container {
    display: flex;
    width: 100%;
    max-width: 520px;
    height: 52px;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid black;

    &.additional {
        border-top: 0px;
        height: 51px;
    }

    .switch {
        display: flex;
        align-items: center;
        width: 260px;
        height: 50px;

        &.leftSwitch {
            justify-content: right;
            border-right: 1px solid black;
            padding-right: 40px;
        }

        &.rightSwitch {
            justify-content: left;
            padding-left: 40px;
        }

        &:hover {
            background-color: #e8e8e8;
        }

        &.active {
            background-color: #7991f5;
            color: white;
        }
    }
}
