@import '@/styles/vars.scss';
@import '@/styles/mixins.scss';

.wrapper {
    position: relative;
    z-index: 1;

   
}

@media(min-width: $media-desktop) {
    .wrapper{
        margin-bottom: 24px;
    }

    .nav {
        display: contents;

        button {
            background: $color-snow;
            width: 44px;
            height: 44px;
            padding: 0;
            z-index: 2;
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);

            &.prevBtn {
                left: -22px;

                svg {
                    transform: rotate(180deg);
                }
            }

            &.nextBtn {
                right: -22px;
            }
        }

    }
}

@media(max-width: $media-mobile) {
    .wrapper{
        margin-bottom: 16px;
        @include outer;
    }

    .swiper{
        @include inner;
    }

    .swiper > *{
        display: contents;
    }

    .nav,
    .nav button {
        display: none;
    }

    .slide {
        max-width: 175px;
        min-width: 175px;

        &:not(:last-child) {
            margin-right: 8px;
        }
    }

}
