@import '@/styles/vars.scss';

.wrapper {
    z-index: 100;
}

@media (max-width: $media-mobile) {
    .wrapper {
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 12px $containerPadding-mobile;
        box-sizing: border-box;
        background: rgba(256, 256, 256, 0.8);
        ul {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }
}

@media (min-width: $media-desktop) {
    .wrapper {
        display: none;
    }
}
