@import '../../styles/mixins.scss';

.wrapper{
    display: flex;
    flex-direction: column;
}

@media(min-width: $media-desktop){
    .container{
        @include container-width();
        padding: $containerPadding-desktop;
    }
}

@media(max-width: $media-mobile){
    .container{
        width: 100%;
        padding: $containerPadding-mobile;
    }
}
