@import './vars.scss';

@mixin container-width{
    min-width: $containerWidth-min;
    max-width: $containerWidth-max;
    width: 100%;
    margin: 0 auto;
}

@mixin compensatePadding-desktop{
    margin-left: calc(-1 * $containerPadding-desktop);
    margin-right: calc(-1 * $containerPadding-desktop);
}
