.scroll {
    critical: this;
    position: relative;
    /* for right padding */
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    display: flex;
}

.scroll {
    /* not valid yet */
    scrollbar-width: none;
}

.scroll::-webkit-scrollbar {
    critical: this;
    display: none;
}

.scroll>* {
    critical: this;
    position: relative;
    margin-left: 15px;
}

.scroll>*:first-child {
    critical: this;
    margin-left: 0;
}

.scroll>*:last-child:after {
    /* for right padding */
    critical: this;
    content: "";
    display: block;
    position: absolute;
    right: -15px;
    width: 15px;
    height: 1px;
}

.scroll [class*='grid_cell'] {
    critical: this;
    width: 260px;
    flex-shrink: 0;
}


.scroll-vertical{
    flex-direction: column;

   >* {
        margin-bottom: 15px;
        margin-left: 0;
        flex-shrink: 0;
    }

    >*:last-child:after {
        /* for right padding */
        critical: this;
        content: "";
        display: block;
        position: absolute;
        right: initial;
        bottom: -15px;
        width: 1px;
        height: 15px;
    }
}
