$containerWidth-min: 1024px;
$containerWidth-max: 1920px;
$containerPadding-desktop: 50px;
$containerPadding-mobile: 16px;

$margin-h1: 50px;
$margin-h2: 20px;
$margin-h3: 20px;

$color-snow: #FFFFFF;
$color-black: #000000;
$color-primary: #7991F5;
$color-primary-light: #9BAEFD;
$color-gray-0: #D6D6D6;
$color-gray-2: #E2E2E0;
$color-gray-6: #F2F2F2;
$color-gray-8: #e8e8e8;

$media-mobile: 758px; //max
$media-desktop: 759px; //min
$media-tablet: 1035px; // extra 
