
@import '@/styles/vars.scss';
@import '@/styles/mixins.scss';

.footer {
    display: grid;
}

.socials {
    display: flex;
    align-items: center;
}

@media(max-width: $media-mobile) {
    .footer {
        padding: 54px $offset-s 110px;
        grid-template-columns: 1fr;
        gap: $offset-s;
    }

    .logo{
        svg{
            height: auto;
            width: 89px;
        }
    }

    .socials {
        margin-left: calc(-1 * $offset-s);
        .socialIcon {
            margin-left: $offset-s;
        }
    }

    .links {
        display: flex;
        flex-direction: column;
      

        .link {
            &:not(:last-child){
                margin-bottom: 6px;
            }
        }
    }

    .flex{
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }
}

@media(min-width: $media-desktop) {
    .footer {
        padding: 50px;
        grid-template-columns: auto 1fr auto; 
        gap: 50px $offset-s ;
        @include container-width();
    }

    .logo{
        svg{
            height: auto;
            width: 118px;
        }
    }

    .socials {
        margin-left: calc(-1 * $offset-default);
        justify-content: center;
        grid-row: 2;
        grid-column: span 3;
        .socialIcon {
            margin-left: $offset-default
        }
    }

    .links {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: calc(-1 * $offset-default);
        flex-wrap: wrap;

        .link {
            margin-left: $offset-default;
        }
    }

    .flex{
        display: contents;
    }
}
