@import '../../../styles/vars.scss';

.button.MuiButton-root {
    font-family: "Gilroy", "sans-serif";
    border-radius: 0;
    text-transform: lowercase;
    color: $color-black;
    border: 1px solid $color-black;
    line-height: 1;
    min-width: fit-content;

    &:hover,
    &:active {
        border: 1px solid $color-black;
        color: $color-snow;
        text-shadow: 0 0 .65px $color-snow, 0 0 .65px $color-snow;

        svg {
            fill: $color-snow;
        }
    }

    &:hover {
        background: $color-primary-light;
        border: 1px solid $color-primary-light;
    }

    &:active {
        background: $color-primary;
        border: 1px solid $color-primary;
    }

    svg {
        fill: $color-black;
        stroke: $color-black;
    }

    &.Mui-disabled {
        background: $color-gray-6;
    }

    &.MuiButton-sizeMedium {
        height: 50px;
        box-sizing: border-box;
        padding: 16px 24px;
        font-size: 16px;

        &.icon {
            padding: 14px;
        }

        svg {
            height: 20px;
            width: auto;
        }
    }

    &.MuiButton-sizeSmall {
        padding: 8px 24px;
        font-size: 16px;

        &.icon {
            padding: 4px;
        }

        svg {
            height: 15px;
            width: auto;
        }
    }

    &.MuiButton-contained{
        padding: 0;
        border: 0;
        box-shadow: none;
        background: none;
        height: fit-content;

        svg{
            width: 18px;
            height: auto;
        }
        &:hover{
            background: none;
            color: $color-primary-light;
            text-shadow: 0 0 .65px $color-primary-light, 0 0 .65px $color-primary-light;
            
            svg{
                fill: $color-primary-light;
                stroke: $color-primary-light;
            }
        }

        &:active{
            background: none;
            color: $color-primary;
            text-shadow: 0 0 .65px $color-primary, 0 0 .65px $color-primary;

            svg{
                fill: $color-primary;
                stroke: $color-primary;
            }
        }
    }

}
