@import '@/styles/vars.scss';

.textarea {
    background: inherit;
    border: none;
    outline: none;
    line-height: 2;
}

.h1,
.h2,
.h3 {
    font-family: 'Dela Gothic One', sans-serif;
    font-weight: bold;
    line-height: 110%;
    display: block;
}

.h3 {
    font-size: 24px;
    margin-bottom: $margin-h3;
    letter-spacing: 1.68px;
}

@media (max-width: $media-mobile) {
    .h1 {
        font-size: 32px;
        margin-bottom: $margin-h1-mobile;
        letter-spacing: 1.28px;
    }

    .h2 {
        font-size: 20px;
        margin-bottom: $margin-h2-mobile;
        letter-spacing: 0.8px;
    }
}

@media (min-width: $media-desktop) {
    .h1 {
        font-size: 64px;
        margin-bottom: $margin-h1;
        letter-spacing: 2.56px;
    }

    .h2 {
        font-size: 32px;
        margin-bottom: $margin-h2;
        letter-spacing: 1.28px;
    }
}
