@import '@/styles/vars.scss';

.divider {

  &.default{
    background: $color-black;
  }

  &.grey {
    background: $color-gray-82;
  }

  &.vertical {
    width: 1px;
    height: 100%;
  }

  &.horizontal {
    height: 1px;
    width: 100%;
  }
}
