@import '@/styles/vars.scss';

.wrapper {
    position: absolute;
    top: 65px;
    z-index: 100;
    right: 0;
    border: 1px solid $color-black;
    background: $color-gray-4;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    width: 400px;
    max-height: 500px;
    overflow: auto;

    .back {
        cursor: pointer;
        transform: rotateZ(180deg);

        svg {
            width: 20px;
        }
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.5rem;
    }

    .title {
        color: $color-gray-82;
        text-align: right;
        align-items: flex-end;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}
