@import '@/styles/vars.scss';

.active {
    color: $color-primary;
    > * {
        color: $color-primary;
    }

    svg {
        stroke: $color-primary;
        &.isFill {
            fill: $color-primary;
        }
    }
}

@media (hover: hover) {
    .link:hover {
        color: $color-primary;
    }
}
