@import '../../../styles/vars.scss';

.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;

    .variants {
        margin-bottom: $offset-default;

        >*:not(:last-child) {
            margin-bottom: $offset-default;
        }
    }

    .image {
        img{
            height: auto;
        }

    }
}
