.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;

    .variants {
        margin-bottom: 32px;

        >*:not(:last-child) {
            margin-bottom: 32px;
        }
    }

    .image {
        img{
            height: auto;
        }

    }
}
