@import '../../../../styles/vars.scss';

.wrapper {
    height: 300px;
    position: relative;
}

.nav {
    button {
        background: $color-snow;
        width: 44px;
        height: 44px;
        padding: 0;

        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);

        &.prevBtn {
            left: -22px;

            svg {
                transform: rotate(180deg);
            }
        }

        &.nextBtn {
            right: -22px;
        }
    }


}
